$border-style-default: solid;
$border-width-none: 0px;
$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;
$opacity-level-semiopaque: 0.8;
$opacity-level-intense: 0.64;
$opacity-level-medium: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;
$border-radius-none: 0px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: 500px;
$border-radius-circular: 50%;
$shadow-offset-x-none: 0px;
$shadow-offset-y-level-1: 4px;
$shadow-offset-y-level-2: 8px;
$shadow-offset-y-level-3: 16px;
$shadow-offset-y-level-4: 16px;
$shadow-blur-radius-level-1: 8px;
$shadow-blur-radius-level-2: 24px;
$shadow-blur-radius-level-3: 32px;
$shadow-blur-radius-level-4: 48px;
$shadow-spread-radius-default: 0;
$shadow-level-1: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
$shadow-level-2: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
$shadow-level-3: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
$shadow-level-4: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
$spacing-inline-quarck: 4px;
$spacing-inline-nano: 8px;
$spacing-inline-xxxs: 16px;
$spacing-inline-xxs: 24px;
$spacing-inline-xs: 32px;
$spacing-inline-sm: 40px;
$spacing-inline-md: 48px;
$spacing-inline-lg: 56px;
$spacing-inline-xl: 64px;
$spacing-inset-quarck: 4px;
$spacing-inset-nano: 8px;
$spacing-inset-xs: 16px;
$spacing-inset-sm: 24px;
$spacing-inset-md: 32px;
$spacing-inset-lg: 40px;
$spacing-stack-quarck: 4px;
$spacing-stack-nano: 8px;
$spacing-stack-xxxs: 16px;
$spacing-stack-xxs: 24px;
$spacing-stack-xs: 32px;
$spacing-stack-sm: 40px;
$spacing-stack-md: 48px;
$spacing-stack-lg: 56px;
$spacing-stack-xl: 64px;
$spacing-stack-xxl: 80px;
$spacing-stack-xxxl: 120px;
$spacing-stack-huge: 160px;
$spacing-stack-giant: 200px;
$spacing-squish-quarck: 4px 8px;
$spacing-squish-nano: 8px 16px;
$spacing-squish-xs: 16px 24px;
$spacing-squish-sm: 16px 32px;
$line-height-tight: 100%;
$line-height-medium: 110%;
$line-height-distant: 150%;
$line-height-superdistant: 200%;
$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;
$font-family-base: Archivo;
$font-family-content: Archivo;
$font-family-highlight: Archivo;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$color-brand-primary-01: rgb(105, 28, 7);
$color-brand-primary-02: rgb(143, 38, 10);
$color-brand-primary-03: rgb(240, 78, 35);
$color-brand-primary-04: rgb(251, 209, 198);
$color-brand-primary-05: rgb(254, 240, 236);
$color-neutral-01: rgb(0, 0, 0);
$color-neutral-02: rgb(112, 116, 123);
$color-neutral-03: rgb(166, 170, 175);
$color-neutral-04: rgb(228, 229, 231);
$color-neutral-05: rgb(255, 255, 255);
$color-default-neutral-05: rgb(255, 255, 255);